
/*======================LOGIN CSS=====================*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
.login-page{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #283971;
}
.login-logo img{
    display: flex;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
}
.login-form{
    margin: auto;
    margin-top: 20px;
}
.login-window{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
}

